html, {
  margin: auto 1%;
  padding: 0 0 30px 0;
  font-family: system-ui;
  line-height: 1.5;
}

body {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.pageName {
	font-size: 200%;
	color: olivedrab;
	color: green;
}

.container {
  max-width: 440px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  padding: 40px 0 10px 0;
}

.navbar__brand img {
  height: 23px;
}

.example-form {
  padding: 20px;
  border: 2px solid #ddd;
  margin-bottom: 40px;
}

.example-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 15px;
}

select,
input,
textarea {
  -webkit-appearance: auto;
  appearance: auto;
}

form .form-control {
  margin-bottom: 15px;
  width: 100%;
  padding: 8px 10px;
  border: 2px solid #ddd;
  outline: 0;
  font-size: 16px;
  border-radius: 3px;
  background: white;
}

form .form-control:focus {
  border-color: #444;
}

form .form-group {
  margin-bottom: 15px;
}

form .form-group label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

form .form-group .form-control {
  margin-bottom: 0;
}

button {
  background: #ddd;
  color: green;
  border-radius: 3px;
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  cursor: auto;
}

img {
    aspect-ratio: 1;
    width: 300px;
    object-view-box: inset(25% 20% 15% 0%);
    object-fit: cover;
}

div {
  height: 150px;
  width: 150px;
  background: #fff;
  border-radius: 20px;
}
.box {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(1px);
}

.box2 {
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.box2:hover {
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}